.category {
  display: flex;
  flex-direction: column; /* Set the flex-direction to column to stack elements vertically */
}

.category-heading {
  margin-bottom: 10px; /* Add some space between the heading and the c-items */
}

/* Items inside the container */

.c-items-container {
  display: flex; /* Add a flex display to make space-between work */
  justify-content: space-around; /* Separate the c-item elements with space */
}

.c-pagination {
  display: flex;
  justify-content: center; /* Separate the c-item elements with space */
}

.c-item {
  background-image: url("/public/images/category-background-test.jpg");
  padding: 1em;
  border-radius: 20px;
}

.c-item:hover {
  box-shadow: 1px 3px 10px 3px #c3c8d1;
}
