.audio {
  grid-area: 3 / 2 / 4 / 3;
}

.audio-player {
  grid-area: 3 / 3 / 4 / 4;
}

.category {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column; /* Set the flex-direction to column to stack elements vertically */
}

.category-heading {
  margin-bottom: 10px; /* Add some space between the heading and the c-items */
}

/* Items inside the container */

.c-items-container {
  display: flex; /* Add a flex display to make space-between work */
  justify-content: space-around; /* Separate the c-item elements with space */
}

/* .c-pagination {
  display: flex;
  justify-content: center;} /* Separate the c-item elements with space */

/* Category Buttons styling */
.c-item {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 20px;
  color: #ffffff;
  flex-shrink: 0;
  font-weight: 500;
  padding: 1rem 1.6rem;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  text-align: center;
}

.c-item:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

.musiclist-box {
  display: flex;
  justify-content: space-between;
}
