.audio {
  grid-area: 3 / 2 / 4 / 3;
}

.audio-player {
  grid-area: 3 / 3 / 4 / 4;
}

.category {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column; /* Set the flex-direction to column to stack elements vertically */
}

.category-heading {
  margin-bottom: 10px; /* Add some space between the heading and the c-items */
}

/* Items inside the container */

.c-items-container {
  display: flex; /* Add a flex display to make space-between work */
  justify-content: space-around; /* Separate the c-item elements with space */
}

/* .c-pagination {
  display: flex;
  justify-content: center;} /* Separate the c-item elements with space */

/* Category Buttons styling */
.c-item {
  background-color: #f4f5fc;
  border: 2px solid #dfe4ef;
  border-radius: 20px;
  padding: 1rem 1.6rem;
  transition: all 0.5s;
  text-align: center;
}

.c-item:hover {
  background-color: #ffff;
  box-shadow: #c0bfcb80 0 1px 30px;
  transition-duration: 0.1s;
}

.musiclist-box {
  display: flex;
  justify-content: space-between;
}

/* Date and time */

.time {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
