.audio {
  grid-area: 3 / 2 / 4 / 3;
}

.audio-player {
  grid-area: 2 / 3 / 4 / 4;
}

.category {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column; /* Set the flex-direction to column to stack elements vertically */
}

.category-heading {
  margin-bottom: 10px; /* Add some space between the heading and the c-items */
}

/* Items inside the container */

.c-items-container {
  display: flex; /* Add a flex display to make space-between work */
  justify-content: space-around; /* Separate the c-item elements with space */
}

/* .c-pagination {
  display: flex;
  justify-content: center;} /* Separate the c-item elements with space */

/* Category Buttons styling */
.c-item {
  background-color: #f4f5fc;
  /* border: 2px solid #dfe4ef; */
  border-radius: 20px;
  padding: 0.7rem 1.6rem;
  transition: all 0.5s;
  text-align: center;
  color: white;
  font-weight: bold;
}

.c-item:hover {
  background-color: #ffff;
  box-shadow: #c0bfcb80 0 1px 30px;
  transition-duration: 0.1s;
}

/* Category Buttons individual styling */

.sea-category {
  background: linear-gradient(150deg, #4d9ffd 0%, #3b74b5 99%);
  color: white;
  font-weight: bold;
}

.cafe-category {
  background: linear-gradient(150deg, #9f6c59 0%, #5e3c2f 99%);
  color: white;
  font-weight: bold;
}

.forest-category {
  background: linear-gradient(
    150deg,
    rgba(66, 149, 59, 1) 0%,
    rgb(54 86 51) 99%
  );
  color: white;
  font-weight: bold;
}

.guitar {
  background: linear-gradient(150deg, #cb9b3a 0%, #876b32 99%);
  color: white;
  font-weight: bold;
}

.show-all {
  color: black;
}

.musiclist-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin: 20px 0;
  border: 1px solid #dfe4ef;
  border-radius: 10px;
}

.musiclist-box img {
  border-radius: 10px;
}

/* Date and time */

.time {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* Audio Player Wrapper */

.audio-player-wrapper {
  padding: 5px 10px;
  margin: 20px 0;
  border: 1px solid #dfe4ef;
  border-radius: 10px;
}

.audio-player-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-player-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
