button {
  background: #2992ef;
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #4facff7a;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin: 0 9px;
}

button:active {
  top: 3px;
  box-shadow: 0 2px 0px #6d4c41;
  transition: all 0.2s;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #2992ef 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #2992ef);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 2s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

.audioplayer-wrapper {
  display: flex;
}
