.sidebar {
  grid-area: 2 / 1 / 4 / 2;
  text-align: center;
}

.content {
  margin-left: 250px; /* Adjust this value to match the width of the sidebar */
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .sidebar {
    left: -250px;
  }
  .content {
    margin-left: 0;
  }
}
