/*font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;*/

body {
  margin: 0;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#wrapper {
  margin: 34px 0 0 15%;
  width: 84%;
  padding: 29px;
  border-radius: 7px;
  background-color: #ebeff8;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.grid-item {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}
