/*font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;*/

body {
  margin: 0;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#wrapper {
  margin: 34px 0 0 15%;
  width: 84%;
  padding: 29px;
  border-radius: 7px;
  background-color: #ebeff8;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

/* CSS for the box shadow and so on */

.box {
  /* background-color: #ebeff8; */
  padding: 13px 20px;
  /* border-radius: 20px;
  border: 2px solid #dfe4ef;
  box-shadow: 1px 3px 20px 3px #dfe4ef; */
}

/* Grid Layout Container ->
Take every css to the right position if needed! */

.container {
  display: grid;
  grid-template-columns: 187px 1.2fr 1.2fr;
  gap: 29px;
  grid-auto-flow: row;
  margin: 20px;
}

.visual {
  grid-area: 2 / 3 / 3 / 4;
}

.footer {
  grid-area: 4 / 1 / 5 / 4;
  text-align: center;
}

button {
  background-color: #f4f5fc;
  border: 2px solid #dfe4ef;
  border-radius: 20px;
  text-align: center;
  padding: 1rem 1.6rem;
  transition: all 0.5s;
}

button:hover {
  background-color: #ffff;
  box-shadow: #c0bfcb80 0 1px 30px;
  transition-duration: 0.1s;
}

button:active {
  top: 3px;
  box-shadow: 0 2px 0px #6d4c41;
  transition: all 0.2s;
}
