/*font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;*/

body {
  margin: 0;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#wrapper {
  margin: 34px 0 0 15%;
  width: 84%;
  padding: 29px;
  border-radius: 7px;
  background-color: #ebeff8;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

/* CSS for the box shadow and so on */

.box {
  background-color: #ebeff8;
  padding: 20px 20px;
  border-radius: 20px;
  border: 2px solid #dfe4ef;
  box-shadow: 1px 3px 20px 3px #dfe4ef;
}

/* Grid Layout Container ->
Take every css to the right position if needed! */

.container {
  display: grid;
  grid-template-columns: 250px 1.2fr 1.2fr;
  gap: 29px;
  grid-auto-flow: row;
  margin: 20px;
}

.footer {
  grid-area: 4 / 1 / 5 / 4;
  text-align: center;
}

.audio {
  grid-area: 3 / 2 / 4 / 3;
}

.visual {
  grid-area: 2 / 3 / 3 / 4;
}

.audio-player {
  grid-area: 3 / 3 / 4 / 4;
}
